{include file="Public/header"}
<form class="layui-form" action="" method="post" enctype="multipart/form-data">
  <div class="layui-form-item">
      <label class="layui-form-label">名称</label>
      <div class="layui-input-inline">
        <input name="name" id="user" class="layui-input" type="text" required="required">
      </div>
  </div>
 
  <div class="layui-form-item">
    <label class="layui-form-label">权限</label>
    <div class="layui-input-block">
      {volist name="menu_list" id="vo"}
      <input type="checkbox" name="menu[]" value="{$vo.id}" title="{$vo.menu_name}" >
      {/volist}
    </div> 
  </div>
  
  
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-filter="demo1" disabled  lay-submit="" id="btn">立即提交</button>
      <button class="layui-btn layui-btn-primary" type="reset">重置</button>
    </div>
  </div>
</form>
 

<script>
//Demo
layui.use('form', function(){
   var form = layui.form;
  // //监听提交
  // form.on('submit(formDemo)', function(data){
  //   layer.msg(JSON.stringify(data.field));
  //   return false;
  // });
});
var u=0;
    $(function () {
    
      //账户验证
      $('#user').blur(function(){
          var user=$('#user').val();
        var reg=/^[^x00-xff]{2,12}$/;
        if(!reg.test(user)){
          u=0;
          layer.msg('请输入2-12中文！');
        }else{
            $.ajax({
                type:"POST",
                url :"{:url('ajax')}",
                data:"name="+user,
                success:function(msg){
                    if(msg==1){
                        $('#btn').attr('disabled',true);
                        layer.msg('名称已存在，请重新输入！');
                    }else{
                        $('#btn').attr('disabled',false);
                    }
                }
            });
        }
      })
      
  })
   
</script>
{include file="Public/footer"}