{include file="Public/header"}
<a href="{:url('add')}" class="layui-btn">
  <i class="layui-icon">&#xe608;</i> 添加
</a>
<table class="layui-table">
  <colgroup>
    <col width="150">
    <col width="200">
    <col>
  </colgroup>
  <thead>
    <tr>
      <th>id</th>
      <th>名称</th>
      <th>权限</th>
      
      
      <th>操作</th>
    </tr> 
  </thead>
  <tbody>
    {volist name="list_copy" id="vo"}
    <tr>
      <td>{$vo.id}</td>
      <td>{$vo.name}</td>
      
      <td>
        {volist name="vo['quanx']" id="sub"}
        {$sub}<font style="color: red;">|</font>
          {/volist}
      </td>
      <td><a href="{:url('update',['id'=>$vo.id])}" class="layui-btn">修改</a>
        <a href="javascript:void(0)" class="layui-btn layui-btn-danger del" url="{:url('luo_del',['id'=>$vo.id])}">删除</a>
        </td>
    </tr>
    {/volist}
  </tbody>
</table>
{$list->render()}
{include file="Public/footer"}