{include file="Public/header"}
    <link rel="stylesheet" type="text/css" href="css/guessYouLike.css">
    <link rel="stylesheet" type="text/css" href="css/shop_list.css">

    <script src="js/shop_list.js"></script>
    <script src="js/guess.js"></script>

    <div class="middle">
        <div class="container">
            <div class="sub-nav">
                <dl>
                    <dt><a href="index.html">首页</a></dt>
                    <dd><a href="#">手链</a></dd>
                </dl>
            </div>
            <div class="commodity">
                <div class="clear brand">
                    <div class="left">
                        <div>品牌</div>
                    </div>
                    <div class="center ">
                        <ul>
                            <li class="on">晓美之恋</li>
                            <li>天天向上</li>
                            <li>疾风剑豪</li>
                            <li>世纪美亚</li>
                            <li>倾国之恋</li>
                            <li>女王艾希</li>
                            <li>三国演义</li>
                            <li>倾国之恋</li>
                            <li>倾国之恋</li>
                            <li>倾国之恋</li>
                            <li>倾国之恋</li>
                            <li>倾国之恋</li>
                            <li>六福珠宝</li>
                            <li>蓝京东</li>
                            <li>天下无敌</li>
                        </ul>
                    </div>
                    <div class="right">
                        <a href="javascript:void(0)">多选</a>
                    </div>
                </div>
                <div class="clear ">
                    <div class="left">
                        <div>大家都在选</div>
                    </div>
                    <div class="center">
                        <ul>
                            <li>水晶首饰</li>
                            <li class="on">情侣戒指</li>
                            <li>钻戒</li>
                            <li>吊坠</li>
                            <li>玉手镯</li>
                            <li>项链</li>
                            <li>耳坠</li>
                            <li>配饰</li>
                            <li>手链</li>
                            <li>发饰</li>
                            <li>胸针</li>
                        </ul>
                    </div>
                    <div class="right">
                        <a href="javascript:void(0)">多选</a>
                    </div>
                </div>
                <div class="clear priceRange">
                    <div class="left">
                        <div>价格范围（￥）</div>
                    </div>
                    <div class="center">
                        <ul>
                            <li class="on">0-599</li>
                            <li>600-999</li>
                            <li>1000-2999</li>
                            <li>3000-5999</li>
                            <li>6000-9999</li>
                            <li>10000以上</li>
                        </ul>
                    </div>
                    <div class="right">
                        <a href="javascript:void(0)">多选</a>
                    </div>
                </div>
                <div class="clear targetUser">
                    <div class="left">
                        <div>适用人群</div>
                    </div>
                    <div class="center">
                        <ul>
                            <li><label><input name="" type="checkbox" checked>情侣</label></li>
                            <li><label><input name="" type="checkbox">父母</label></li>
                            <li><label><input name="" type="checkbox">男士</label></li>
                            <li><label><input name="" type="checkbox">女士</label></li>
                            <li><label><input name="" type="checkbox">小孩</label></li>
                        </ul>
                        <div class="buttonBar">
                            <a class="sure" href="#">确定</a><a class="cancel" href="#">取消</a>
                        </div>
                    </div>
                    <div class="right">
                        <a href="javascript:void(0)">多选</a>
                    </div>
                </div>
                <div class="clear ">
                    <div class="left">
                        <div>用途</div>
                    </div>
                    <div class="center ">
                        <ul>
                            <li class="on">求婚</li>
                            <li>送礼</li>
                            <li>打扮</li>
                            <li>婚宴</li>
                            <li>订婚</li>
                        </ul>
                    </div>
                    <div class="right">
                        <a href="javascript:void(0)">多选</a>
                    </div>
                </div>
            </div>
            <div class="shop-list">
                <div class="top-nav">
                    <div class="left fl">
                        <dl class="fl">
                            <dt>排列方式：</dt>
                            <dd class="on">默认<i></i></dd>
                            <dd>最热销<i></i></dd>
                            <dd>销量<i></i></dd>
                            <dd class="on">价格<i></i></dd>
                        </dl>
                        <div class="price fl">
                            <span class="text">
                                价格￥
                            </span>
                            <span class="price-input">
                                <input type="text" name="" value="">
                                <span></span>
                            <input type="text" name="" value="">
                            </span>
                            <a href="#">确定</a>
                        </div>
                    </div>
                    <div class="right fr">
                        <a href="#" class="prev">&lt;&nbsp;上一页</a>
                        <span class="index"><b>1</b>/10</span>
                        <a href="#" class="next">下一页&nbsp;&gt;</a>
                    </div>
                </div>
                <div class="list">
                    <ul class="clear">
                        {volist name="list" id="vo"}
                        <li class="clear">
                            <a href="{:url('Cate/details',['id'=>$vo.id])}"><img style="width:215px;height: 221px" src="__ROOT__/Uploads/{$vo.img}" alt=""></a>
                            <span class="price"><i>￥</i>{$vo.price}</span><span class="freePostage">包邮</span>
                            <span class="stock">库存：{$vo.count}件</span>
                            <p><a href="{:url('Cate/details',['id'=>$vo.id])}">{$vo.name}</a></p>
                            <button type="button" class="shopCar">加入购物车</button>
                            <div class="evaluate fr">
                                <i></i><span>520</span><i></i><span>98%</span>
                            </div>
                        </li>
                        {/volist}
                        
                    </ul>
                </div>
                <div class="footer-nav">
                    {$list->render()}
                </div>
                <div class="division">

                </div>
            </div>
            <div class="guessYouLike">
                <h3>猜你喜欢</h3>
                <ul class="clear">
                    <li>
                        <a href="pro_details.html"><img src="images/shop_list/product2.jpg" alt=""></a>
                        <p><a href="pro_details.html">京东时尚最新品手镯 翡翠绿穿戴舒服手镯</a></p>
                        <span><i>￥</i>666</span>
                        <button type="button">加入购物车</button>
                    </li>
                    <li>
                        <a href="pro_details.html"><img src="images/shop_list/product2.jpg" alt=""></a>
                        <p><a href="pro_details.html">京东时尚最新品手镯 翡翠绿穿戴舒服手镯</a></p>
                        <span><i>￥</i>666</span>
                        <button type="button">加入购物车</button>
                    </li>
                    <li>
                        <a href="pro_details.html"><img src="images/shop_list/product2.jpg" alt=""></a>
                        <p><a href="pro_details.html">京东时尚最新品手镯 翡翠绿穿戴舒服手镯</a></p>
                        <span><i>￥</i>666</span>
                        <button type="button">加入购物车</button>
                    </li>
                    <li>
                        <a href="pro_details.html"><img src="images/shop_list/product2.jpg" alt=""></a>
                        <p><a href="pro_details.html">京东时尚最新品手镯 翡翠绿穿戴舒服手镯</a></p>
                        <span><i>￥</i>666</span>
                        <button type="button">加入购物车</button>
                    </li>
                    <li>
                        <a href="pro_details.html"><img src="images/shop_list/product2.jpg" alt=""></a>
                        <p><a href="pro_details.html">京东时尚最新品手镯 翡翠绿穿戴舒服手镯</a></p>
                        <span><i>￥</i>666</span>
                        <button type="button">加入购物车</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {include file="Public/footer"}