{include file="Public/header"}
<a href="{:url('add')}" class="layui-btn">
  <i class="layui-icon">&#xe608;</i> 添加
</a>
<table class="layui-table">
  <colgroup>
    <col width="150">
    <col width="200">
    <col>
  </colgroup>
  <thead>
    <tr>
      <th>id</th>
      <th>模块名</th>
      <th>控制器</th>
      <th>类型</th>
      <th>分组</th>
      
      <th>操作</th>
    </tr> 
  </thead>
  <tbody>
    {volist name="list" id="vo"}
    <tr>
      <td>{$vo.id}</td>
      <td>{$vo.menu_name}</td>
      <td>{$vo.class_name}</td>
      <td>
        {if condition="($vo['type'] eq 0)"}后台
          {else /}前台
        {/if}
        </td>
      <td>{$vo.pid}</td>
      <td><a href="javascript:void(0)" class="layui-btn layui-btn-danger del" url="{:url('luo_del',['id'=>$vo.id])}">删除</a>
        </td>
    </tr>
    {/volist}
  </tbody>
</table>
{$list->render()}
{include file="Public/footer"}