<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>后台管理</title>
  <base href="__STATIC__/admin/lay/">
  <link rel="stylesheet" href="css/layui.css">
  <link rel="stylesheet" href="__STATIC__/admin/boot/css/bootstrap.css">
  <script src="layui.js"></script>
  <script src="jquery-1.11.2.min.js"></script>
 <!--  <script src="layui.all.js"></script> -->
 <style type="text/css">
    a {text-decoration: none;}
</style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">管理中心</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
      <li class="layui-nav-item"><a href="{:url('Index/')}">控制台</a></li>
      <li class="layui-nav-item"><a href="">商品管理</a></li>
      <li class="layui-nav-item"><a href="">用户</a></li>
      <li class="layui-nav-item">
        <a href="javascript:;">其它系统</a>
        <dl class="layui-nav-child">
          <dd><a href="">邮件管理</a></dd>
          <dd><a href="">消息管理</a></dd>
          <dd><a href="">授权管理</a></dd>
        </dl>
      </li>
    </ul>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;">
          <img src="a.jpg" class="layui-nav-img">
          {$Think.session.user.username}
        </a>
        <dl class="layui-nav-child">
          <dd><a href="">基本资料</a></dd>
          <dd><a href="">安全设置</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item"><a href="{:url('User/logout')}">退出</a></li>
    </ul>
  </div>
  
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item"><a href="{:url('Index/index')}">首页</a></li>
        {volist name="nav_list" id="vo"}
        {in name="vo.id" value="$Think.session.level"}
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:;">{$vo.menu_name}</a>
          <dl class="layui-nav-child">
            {volist name="vo['child']" id="sub"}
            {in name="sub.id" value="$Think.session.level"}
            <dd><a href="{:url($sub.class_name)}">{$sub.menu_name}</a></dd>
            {/in}
            {/volist}
          </dl>
        </li>
        {/in}
        {/volist}
      </ul>
    </div>
  </div>
  <div class="layui-body">
  <div style="padding: 15px;">