{include file="Public/header"}
    <link rel="stylesheet" type="text/css" href="css/member.css">
    <link rel="stylesheet" type="text/css" href="css/sub_nav.css">
    <link rel="stylesheet" type="text/css" href="css/modify.css">
    <link rel="stylesheet" type="text/css" href="css/modify_password.css">
    
    <script src="js/modify_password.js"></script>

    <div class="middle">
        <div class="container clear">
            <div class="sub-nav fl">
                <dl>
                    <dt><a href="#">设置</a></dt>
                    <dd><a href="imformation_modify.html">个人信息</a></dd>
                    <dd><a href="#">账号绑定</a></dd>
                    <dd class="on"><a href="#">账户安全</a></dd>
                    <dd><a href="#">我的等级</a></dd>
                    <dd><a href="shipping_address.html">收货地址</a></dd>
                    <dd><a href="#">消费记录</a></dd>
                    <dd><a href="#">快捷支付</a></dd>
                    <dd><a href="#">应用授权</a></dd>
                </dl>
            </div>
            <div class="content fl">
                <div class="head-nav">
                    <a class="on" >修改密码</a>
                    <a>添加密保</a>
                </div>
                <div class="box">
                    <div class="fr">
                        <img class="fl" src="images/member_home/photo.png" alt="">
                        <h2>用户名：{$Think.session.user.username}</h2>
                        <p>购物行为评级：<span></span><span></span><span></span></p>
                        <p>会员类型：高级会员</p>
                        <div class="clear"></div>
                        <p>注：修改手机和邮箱请到<a href="#">账户安全</a></p>
                    </div>
                    <div class="tab">
                        <form>
                            <div>
                                <label for="">账号：</label><input type="text" name="" placeholder="{$find.username}" required>{$find.username}
                            </div>
                            <div>
                                <label for="">手机号码：</label><input type="tel" name="" value="" required><a class="check" href="">获取验证码</a>
                            </div>
                            <div>
                                <label for="">验证码：</label><input type="text" name="" value="" required>
                            </div>
                            <div>
                                <label for="">新密码：</label><input type="password" name="" value="" required>
                            </div>
                            <div>
                                <label for="">再输入密码：</label><input type="password" name="" value="" required>
                            </div>
                            <button class="btn" type="submit">提交</button>
                        </form>
                    </div>
                    <div class="tab">
                        <form>
                            <div>
                                <label for="">密保：</label><input type="text" name="" value="" required>
                            </div>
                            <div>
                                <label for="">手机号码：</label><input type="tel" name="" value="" required><a class="check" href="">获取验证码</a>
                            </div>
                            <div>
                                <label for="">验证码：</label><input type="text" name="" value="" required>
                            </div>
                            <div>
                                <label for="">新密码：</label><input type="password" name="" value="" required>
                            </div>
                            <div>
                                <label for="">再输入密码：</label><input type="password" name="" value="" required>
                            </div>
                            <button class="btn" type="submit">提交</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
 {include file="Public/footer"}